/* Variables */
:root {
    /* Primary color */
    --clr-primary: #260101; /* Main text color */
    --clr-primary-light: #6a0606; /* Lighter shade of primary */
    --clr-primary-dark: #1a0000; /* Darker shade of primary */

    /* Secondary color */
    --clr-secondary: #275950; /* Secondary text color */
    --clr-secondary-light: #5b7c74; /* Lighter shade of secondary */
    --clr-secondary-dark: #1c3d37; /* Darker shade of secondary */

    /* Accent color */
    --clr-accent: #ff9800; /* Accent color */
    --clr-accent-light: #ffbe59; /* Lighter shade of accent */
    --clr-accent-dark: #c66900; /* Darker shade of accent */

    /* Background color */
    --clr-background: #f0f0f0; /* Background color */

    /* Secondary background color to differentiate sections */
    --secondary-background-color: #DBE7C9;
    --secondary-background-color-light: #f2f7e2; /* Lighter shade of secondary background */
    --secondary-background-color-dark: #bacb9c; /* Darker shade of secondary background */

    /* Secondary text color */
    --secondary-text-color: #50623A;
    --secondary-text-color-light: #8a9f78; /* Lighter shade of secondary text color */
    --secondary-text-color-dark: #364826; /* Darker shade of secondary text color */

    /* Additional accent color */
    --accent-color: #50623A;
    --accent-color-light: #8a9f78; /* Lighter shade of accent color */
    --accent-color-dark: #364826; /* Darker shade of accent color */
}

/* Utility Classes */
.text-primary {
    color: var(--clr-primary);
}

.text-secondary {
    color: var(--clr-secondary);
}

.text-accent {
    color: var(--clr-accent);
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-secondary {
    background-color: var(--clr-secondary);
}

.bg-accent {
    background-color: var(--clr-accent);
}

.bg-secondary-background-color {
    background-color: var(--secondary-background-color);
}

.bg-secondary-background-color-light {
    background-color: var(--secondary-background-color-light);
}

.bg-secondary-background-color-dark {
    background-color: var(--secondary-background-color-dark);
}

/* Section Styles */
.section {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
}

.accent {
    color: var(--accent-color);
    /* accent color for various purposes */
}

/* Add more CSS rules as needed */
